body {
	min-width: 600px;
	background-color: #121212;
	color: white;
}
a {
	color: white;
}

input[type="range"][orient="vertical"] {
	writing-mode: bt-lr;
	-webkit-appearance: slider-vertical;
}

.fieldsets > fieldset {
	display: inline-block;
	vertical-align: top;
}
.div {
	border: none;
	margin: 0;
	padding: 0;
}
.labels label {
	display: block;
}
.text {
	box-sizing: border-box;
}

.eq-reset {
	font-size: 10px;
}
.eq {
	margin-left: 1em;
}
.eq > * {
	display: inline-block;
	vertical-align: top;
	font-size: 10px;
}
.eq-group label {
	display: block;
}

.eq-sliders {
	padding-right: 0.25em;
	padding-left: 0.25em;
}
.eq-sliders label {
	display: inline-block;
	text-align: center;
}
.eq-slider {
	display: block;
	position: relative;
}
.eq-slider input {
	display: block;
	width: 2em;
}
.eq-slider:before,
.eq-sliders > :last-child .eq-slider:after {
	content: '';
	position: absolute;
	bottom: 50%;
	width: 0.5em;
	border-top: 1px solid silver;
}
.eq-slider:before {
	left: -0.25em;
}
.eq-slider:after {
	right: -0.25em
}

.device {
	min-width: 6em;
}

.p > * {
	display: inline-block;
	white-space: nowrap;
}
.p:after {
	content: '';
	display: block;
	clear: right;
}
.save {
	float: right;
}

.reverse {
	direction: rtl;
}

.player audio {
	display: block;
	width: 600px;
}

.main canvas {
	display: block;
}

@media (orientation: landscape) {
	body {
		min-width: 930px;
	}
	.container > * {
		display: inline-block;
		vertical-align: top;
	}
	.sub canvas {
		display: block;
	}
	.sub canvas + canvas {
		margin-left: 30px;
	}
}
